{% extends 'base.html.twig' %}

{% block title %}detail{% endblock %}

{% block main %}
<div class="container" style="min-height: calc(100vh - 215.96px - 57px)">
    <div class="card">
        {% for image in annonce.images %}
            <div>
                <img src="{{ asset('/uploads/'~image.name) }}" alt="image" width="150">
            </div>
        {% endfor %}
        <div class="card-body">
            <h5 class="card-title">{{ annonce.title }}</h5>
            <p class="card-text">{{ annonce.content | raw }}</p>
            <a class="btn btn-primary" href="{{ path('annonces_edit', {'id': annonce.id}) }}">édition de l'annonce</a>
        </div>
    </div>
</div>
{% endblock %}
