{% extends 'base.html.twig' %}

{% block title %}Edit Annonces{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Edit Annonces</h1>

        {{ include('user_annonce/annonces/_form.html.twig', {'button_label': 'Update'}) }}

        {{ include('user_annonce/annonces/_delete_form.html.twig') }}

    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}