{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container py-5">
    <div>
        Administrateur: M. {{ app.user.name}}
    </div>
    <div class="row">
        <div class="col-4-lg"></div>
        <div class="col-4-lg">
            <a href="{{path('admin_categories_home')}}" class="btn btn-primary btn-lg">Gerer les catégories</a>
            <a href="{{path('admin_annonces_home')}}" class="btn btn-primary btn-lg">Gerer les annonces</a>
        </div>
    </div>
</div>

{% endblock %}
