{% extends 'base.html.twig' %}

{% block title %}Ajouter une categories{% endblock %}

{% block main %}
<div class="container" style="min-height: calc(100vh - 215.96px - 57px)">
    <h1> Ajouter une catégorie</h1>
    {{ form(form) }}
</div>
{% endblock %}

