{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe
{% endblock %}

{% block main %}
	<div class="container" style="min-height: calc(100vh - 215.96px - 57px)">
    	{% for error in app.flashes('error') %}
            <div class="alert alert-danger">
                <div>{{error}}</div>
            </div>
		{% endfor %}
		<div>
			<h1>Edition du mot de passe
				{{ app.user.name }}
				{{ app.user.firstname }}
			</h1>
			<form method="post">
				<div class="form-group">
					<div class="mb-3">
						<label for="passe" class="form-label">Mot de passe</label>
						<input type="password" name="passe" id="passe" class="form-control rounded-1"/>
					</div>
					<div class="mb-3">
						<label for="passe2" class="form-label">confirmer mot de passe</label>
						<input type="password" name="passe2" id="passe2" class="form-control rounded-1"/>
					</div>
				</div>
                <button class="btn btn-primary">Valider</button>
			</form>
		</div>
	</div>
{% endblock %}
