{% extends 'base.html.twig' %}

{% block title %}Modification du profil Utilisateur
{% endblock %}

{% block body %}
	<div class="container py-5">
		<div>
			<h1>Changement du profile</h1>
            {{ form(form)}}
		</div>
	</div>
{% endblock %}
